
.App-header {
    text-align: center;
    color: #fff;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
   
    font-size: calc(10px + 2vmin);
    padding: 50px;
    justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
  }

  .line {
    position: absolute;
  top: 0;
  left:30%;
  width: 1px;
  height: 100vh;
  background-color: #000;
    
  }

  .row.justify-content-md-center {
    justify-content: flex-start;
    margin-left: 2%;
  }

  .head-line {
    margin-bottom: 30px;
  }
  
  .regis {
    
    margin-right: auto;
    background-color: rgb(240, 226, 225, 0.8);  
    border-color: transparent;
    position:relative;
    height: 120%;
    width: 100%;
    text-align: center;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
    vertical-align: center;
    border-radius: 25px;
    font-size: 2.5vh !important;
    color: rgb(73, 134, 148);
  }

  .btn{
    font-size:medium;
    background-color: rgb(173, 205, 210,0.5) !important;
    border:transparent;
  }
  
  
  .loggg {
    padding-bottom: 1vh;
    font-size:xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(73, 134, 148);
  }
  
  .regis div {
    margin-bottom: 2px;
  }
  
  .regis div input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f3f3f3;
  }
  
  .regis div label {
    display: block;
    margin-bottom: 10px;
  }
  
  .regis div label span {
    color: red;
  }
  
  .regi {
    font-size: 3vh;
    margin-top: 10px;
  }
  
  .h {
    color: #00bcd4;
    text-decoration: none;
  }
  
  .error-message {
    color: red !important;
    font-size: 3vh;
  }

 
