/* RegisterPage.css*/

.register-page {
  display: flex;
  height: 150vh;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
}

.left-section, .right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.register-page .left-section {
  justify-content: flex-start;
  width: 40%;
  background-color: #f8f9fa;
}

.right-section {
  width: 60%;
  background-color: #e5d2d1;
}

/*
.head-welcome{
  position: absolute;
  top: 12rem;
}

.register-page .left-section img {
  
}
*/

.register-page  .head-login1 {
  text-align: center;
  font-family: 'Oswald', sans-serif;

  font-size: 50px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #666;
}

.register-page .head-login2 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  
  font-size: 3.8em;
  padding-bottom: 0.5em;
  color: #666;
}



.register-form-head {
  font-size: 2em;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bolder;
  color: #666;
}

.register-form {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}

.register-item-label {
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}



.register-item-label  input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.register-item-label  input::placeholder {
  color: #ddd;
  opacity: 1;
}

.required{
  color: red;
}
.error-message {
  color: red;
  text-align: center;
}

.register-btn {
  display: flex;
  justify-content: center;
}

.submit-button {
  padding: 0.5rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #e5d2d1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit-button:hover {
  background-color: #dabab8;
}

.did-login {
  margin: 1rem 0;
  font-size: 0.875rem;
  color: #6c757d;
  text-align: center;
}

.h {
  color: rgb(173, 205, 210);
  text-decoration: none;
}

.h:hover {
  color: rgba(64, 104, 112, 0.5);
  text-decoration: underline;
}



/*
.App-header {
    text-align: center;
    color: #fff;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
   
    font-size: calc(10px + 2vmin);
    padding: 50px;
    justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
  }

  .line {
    position: absolute;
  top: 0;
  left:30%;
  width: 1px;
  height: 100vh;
  background-color: #000;
    
  }

  .row.justify-content-md-center {
    justify-content: flex-start;
    margin-left: 2%;
  }

  .head-line {
    margin-bottom: 30px;
  }
  
  .regis {
    
    margin-right: auto;
    background-color: rgb(240, 226, 225, 0.8);  
    border-color: transparent;
    position:relative;
    height: 120%;
    width: 100%;
    text-align: center;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
    vertical-align: center;
    border-radius: 25px;
    font-size: 2.5vh !important;
    color: rgb(73, 134, 148);
  }

  .reg-btn .btn{
    font-size:medium;
    background-color: rgb(173, 205, 210,0.5) !important;
    border:transparent;
  }
  
  
  .loggg {
    padding-bottom: 1vh;
    font-size:xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(73, 134, 148);
  }
  
  .regis div {
    margin-bottom: 2px;
  }
  
  .regis div input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f3f3f3;
  }
  
  .regis div label {
    display: block;
    margin-bottom: 10px;
  }
  
  .regis div label span {
    color: red;
  }
  
  .regi {
    font-size: 3vh;
    margin-top: 10px;
  }
  
  .h {
    color: #00bcd4;
    text-decoration: none;
  }
  
  .error-message {
    color: red !important;
    font-size: 3vh;
  }

 
*/