/* MyDetails.css */

.my-details-form, .my-details-view {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}


.my-details-title {
    color: #666;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.my-details-label, .my-details-item {
    /* Add specific styles for labels and items */
    font-weight: bold;
    margin-top: 20px;
    color: #666;
    width: 100%;
    
}

.my-details-label input::placeholder {
    color: #ddd;
    opacity: 1;
}

.my-details-form input {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease;
   
}

.my-details-view p {
    margin-top: 5px;
    padding: 5px;
   
}
.my-details-button {
    /* Add specific styles for the button */
    margin-top: 20px;
    cursor: pointer;
    background-color: #e5d2d1;
    color: white;
    border: none;
    margin-bottom: 20px;
}

.my-details-button, .upload-item-form input[type="submit"] {
    margin-top: 20px;
    cursor: pointer;
    background-color: #e0c4c4;
    color: white;
    border: none;
    padding: 12px 24px; /* More padding -> larger button */
    border-radius: 8px; /* Rounded corners */
    font-size: 16px; /* Bigger text */
    transition: background-color 0.3s; /* Transition effect for hover */
    margin-bottom: 20px;
}

/* Change color on hover */
.my-details-button:hover, .upload-item-form input[type="submit"]:hover {
    background-color: #b3a0a0;; /* A darker */
}