/* UploadItem.css */

.upload-item-form {
    display: flex;
    justify-self: flex-start;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

.upload-item-label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: space-between;
    margin-top: 20px;
    color: #666;
}

.field-row-label{
    display: flex;
    flex-direction: row;
    font-weight: bold;
   
    
}
/*
.upload-item-label {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 20px;
}
*/
.upload-item-input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.upload-item-submit {
    margin-top: 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-bottom: 20px;
}

.upload-item-title {
  color: #666;
    /* Add any specific styles for the title here */
}


.fail{
    background-color: red;
}

.success-message {
  position: fixed;
  top: 30%;
  left: 65%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 40px;
  color: white;
  z-index: 9999;
  background-color: rgba(0, 128, 0, 0.8);
  text-align: center;
}
  

  
  .uploading-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 24px;
  }
  
  .uploading-item h1 {
    margin-bottom: 20px;
  }
  
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .asterisk-visible {
    color: red;
}

.asterisk-hidden {
    display: none;
}

  /* Add these classes to your existing CSS */

.dot-visible {
  color: red;
  margin-left: 10px; /* Adjust as needed */
  display: inline;
}

.dot-hidden {
  display: none;
}
