.user-account-main-menu {
    width: 100%;
    height: 100%;
    padding: 1em;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
  }
  .menu-full-name{
    color: #666;
  }
  
  .initials {
    width: 50px;
    height: 50px;
    background-color: #aaa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    color: white;
    font-weight: bold;
  }
  
  .menu-items {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .menu-item {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5em;
    transition: all 0.3s;
  }
  
  .menu-item:hover {
    background-color: #f0f0f0;
  }
  
  .menu-item.active {
    background-color: #ccc;
  }
  
  .icon {
    margin-right: 0.5em;
  }
  