/* Header Top */

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    height: 70px;
    padding: 0 20px;
  }
  
  .header-top__logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    text-decoration: none;
  }
  
  .header-top__logo img {
    height: 50px;
    margin-right: 20px;
  }
  
  .header-top__search-bar {
    display: flex;
    align-items: center;
    width: 300px;
    border: none;
    font-size: 16px;
    outline: none;
  }
  
  .header-top__search-bar input[type="text"] {
    border: none;
    font-size: 16px;
    outline: none;
    width: 100%;
  }
  
  .header-top__search-bar button[type="submit"] {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: -35px;
    outline: none;
  }
  
  .header-top__search-bar svg {
    color: #ccc;
    height: 22px;
    width: 22px;
  }
  
  .header-top__navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .header-top__nav-item {
    margin-right: 20px;
  }
  
  .header-top__nav-item a {
    color: #555;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  .header-top__nav-item a:hover {
    color: #310791;
  }
  
  .header-top__item {
    margin-left: 20px;
  }
  
  .header-top__item a {
    color: #555;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  .header-top__item a:hover {
    color: #222;
  }