/* src/components/NavigationBar.css */

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.search-bar {
  flex-grow: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
}

.search-bar input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 2.5rem; /* Adjust as needed */
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  color: inherit;
  padding: 0.375rem 0.75rem;
  z-index: 2;
}

.search-button:hover {
  background: transparent;
}

.icons {
  gap: 0.5rem;
}

.icons .nav-link {
  display: flex;
  align-items: center;
  padding: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

/*... Other styles ...*/ 

.icons .nav-link {
  padding: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.icons .nav-link.bi-heart-fill {
  display: none;
}

.icons .nav-link:hover .bi-heart {
  display: none;
}

.icons .nav-link:hover .bi-heart-fill {
  display: inline-block;
}
.icons .nav-link {
  padding: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1.3rem;
}

.icons .nav-link .bi-heart-fill {
  display: none;
}

.icons .nav-link:hover .bi-heart {
  display: none;
}

.icons .nav-link:hover .bi-heart-fill {
  display: inline;
}


.icons .nav-link .bi-person-fill {
  display: none;
}

.icons .nav-link:hover .bi-person {
  display: none;
}

.icons .nav-link:hover .bi-person-fill {
  display: inline;
}


.icons .nav-link .bi-chat-dots-fill {
  display: none;
}

.icons .nav-link:hover .bi-chat-dots {
  display: none;
  font-size: 1.5rem;
}

.icons .nav-link:hover .bi-chat-dots-fill {
  display: inline;
}

.logo-img {
  height: 2.3em;
}

.autocomplete-results {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.autocomplete-results li {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}


.autocomplete-results li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.autocomplete-result {
  display: flex;
  align-items: center;
  padding: 1px;
}

.image-container {
  flex: 0 0 80px; /* Adjust the width as needed */
  margin-right: 10px;
}

.item-image {
  width: 80px;
  height: 100px;
  border-radius: 4px;
  object-fit: cover;
}

.details-container {
  flex-grow: 1;
}

.description {
  font-size: 16px;
  font-weight: bold;
}

.seller {
  font-size: 12px;
  color: gray;
}
