/* UploadItem.css */

.upload-item-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

.upload-item-label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 20px;
}

.upload-item-input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.upload-item-submit {
    margin-top: 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-bottom: 20px;
}

.upload-item-title {
    /* Add any specific styles for the title here */
}


.fail{
    background-color: red;
}
.success-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    color: white;
    z-index: 9999;
  }

  .success{
    background-color: green;
  }
  